
.del-btn{
  background-color: red;
  color: bisque;
  border-radius: 8px;
}

.member-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  display: block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 97%;
}

.search-icon {
  margin-left: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.member-table {
  width: 100%;
  border-collapse: collapse;
  align-items: center;
}

.table-header {
  background-color: #f0f0f0;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr.selected {
  background-color: #e0e0e0;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.pagination-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-container button.active {
  background-color: #007bff;
  color: #fff;
}

.App{
  background-color: burlywood;
}